html, body {
	margin: 0px;
	height: 100%;
	overflow: hidden;
}

.divGrid {
	position: absolute;

	height: 100%;
	width: 100%;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(auto-fill, 10%);
	align-items: center;
}

button {
	height: 100%;

	text-align: center;
	font-size: 60px;
	color: white;
	-webkit-text-stroke: 2px black;
	letter-spacing: 20px;
	font-weight: bolder;

	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	border: none;
}

button:hover {
	
}


#roulette {
	background: url("../ex/roulettePreview.png");
	background-position: center;
	background-size: 100%;

}
#countdown {
	background: url("../ex/countdownPreview.png");
	background-position: 50% 80%;
	background-size: 100%;
}