.divGrid {
	position: absolute;

	height: 100%;
	width: 100%;

	display: grid;
	grid-template-columns: 20% 60% 20%;
	grid-template-rows: 20% 20% 20% 20% 20%;
	align-items: center;
}

button {
	grid-column: 2;

	text-align: center;
	font-size: 40px;
	color: grey;
	letter-spacing: 10px;

	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	background: none;
	border: none;
}

button:hover {
	background: #EEEEEE;
}

html, body {
	margin: 0px;
	height: 100%;
	overflow: hidden;
}