* {
	transition: 0.3s;
}
*::-webkit-scrollbar {
	display: none;
}

html, body {
	margin: 0px;
}

body {
	padding: 1vw;
	padding-left: 5vw;
	padding-right: 5vw;
	background-color: #121212;
}

.main_page {
	width: 90vw;
	height: 100%;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 10% 90%;

}

.top_navbar {
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows:	50% 50%;

	border-bottom: 2px lightslategrey;

	overflow: hidden;
}

.themes {
	width: 100%;
	height: 100%;

	gap: 2px;

	display: grid;
	grid-template-columns: repeat(4, calc(22.5vw - 1.5px));
	grid-template-rows: 100%;
}

button.theme {
	background-color: #ffffffAA;
	border: none;
}
.tag {
	background-color: #ffffffAA;
	border: none;
}
.tags {
	width: 100%;
	height: 100%;

	margin-top: 2px;
}

.divGrid {
	height: 100%;
	width: 100%;

	display: grid;
	grid-template-columns: repeat(6, calc(15vw - 1.5px));
	grid-template-rows: repeat(4, 15vw);
	grid-auto-flow: row dense;

	gap: 4px;

	overflow-y: scroll;
	overflow-x: hidden;
}
.project_button {
	justify-content: center;
	align-items: center;

	font-size: 2vw;
	color: white;
	-webkit-text-stroke: 0.125vw black;
	letter-spacing: 0.1vw;
	font-weight: bolder;

	width: 100%;
	height: 100%;

	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	border: none;
	overflow: hidden;
}
.project_label {
	position: absolute;

	width: 100%;
	bottom: 0px;
	left: 0px;
	z-index: 5;
}
.background_image {
	position: absolute;

	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;

	/* filter: saturate(0) brightness(0.6); */
	filter: brightness(0.6);

	z-index: 1;
	scale: 1.1;

	object-fit: cover;
}
.project_button:hover .background_image {
	/* filter: saturate(0.6) brightness(1); */
	filter: brightness(1);
	scale: 1.2;
}
.gradient {
	width: 100%;
	height: 100%;
	z-index: 4;
}